{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center" style="padding-top: 10%;">
        <h1>Chcesz coś sprzedać? Kupić? A może zamienić?</h1>
        <h2>Świetnie trafiłeś! :)</h2>
    </div>
{% endblock %}

